.dropdown {
  position: relative;
  display: inline-block;

  &__content {
    display: none;
    position: absolute;
    right: 0;
    background-color: lighten($color-grey, 3%);
    min-width: 160px;
    z-index: 9;

    a {
      cursor: pointer;
      color: $color-black;
      padding: .5rem 2rem;
      text-decoration: none;
      display: block;
      font-weight: 600;
      font-size: 1.4rem;
    }
    
    a:hover {
      background-color: darken($color-grey, 10%);
    }
  }

  &:hover .dropdown__content {
    display: block;
  }
}
