%flag {
  border-radius: 25rem;
  font-size: 1rem;
  padding: 1px .5rem;
  font-weight: 500;
  height: 2rem;
}

.flag-red-outline {
  @extend %flag;
  border: 1px solid $color-primary;
  color: $color-primary;
}

.flag-grey {
  @extend %flag;
  background-color: darken($color-grey-light, 3%);
  color: $color-black;
  margin: .25rem;
  padding: .3rem 1rem;
}
