// COLORS
$color-primary: #FC4446;
// $color-secondary: #526173;

$color-grey: #e0e0e0;
$color-grey-light: #F8F9F9;
$color-grey-dark: #526173;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
