.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &--icon {
    width: 4rem;
    height: 3rem;
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: darken($color-grey-light, 5%);
  }

  &:active,
  &:focus {
    outline: none;
    background-color: lighten($color-grey-light, 8%);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &--grey {
    background-color: $color-grey;
    color: $color-grey-dark;
  }

  &--red {
    background-color: $color-primary;
    color: $color-white;
  }

  &--outline {
    border: .1rem solid $color-grey;
  }

  &--round {
    border-radius: 25rem;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

  .btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    box-shadow: 0 .3rem .5rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .3rem .5rem rgba($color-black, .15);
    transform: translateY(0);
  }
}
